.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* background-color: #0B1D33; */
}

p{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857143;
  font-size: 13px;
  font-family: sans-serif;
  color: #3b4151;
  -webkit-box-direction: normal;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 1em auto;
}

.swagger-ui input[disabled], .swagger-ui select[disabled], .swagger-ui textarea[disabled] {
  font-size: 12px;
}
