
.side-bar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
    color: #3b4151;
  }
  
  .side-bar-body {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
  }

  .side-bar-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-family: sans-serif;
    color: #606060;
  }
  
  .api-link {
    margin-top: 10px;
    font-size: 13px;
    flex: 1 1 auto;
    word-break: break-word;
    font-family: sans-serif;
    color: #3b4151;
    transition: all .1s ease;
    padding-left: 10px;
  }
  
  .api-link:hover {
    cursor: pointer;
    border-left: 5px solid #1798c1;
    transition: all .1s ease;
  }
  
  #api-data {
    width: 90vw;
    padding-left: 30px;
    padding-top: 30px;
    overflow-y: scroll;
  }

  
  .side-bar-header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    border-bottom: 2px solid #1798c1;
    font-family: 'Righteous', cursive;
    text-align: center;
  }

  .side-bar-header img {
    display: block;
    width: 160px;
    max-width: 100%;
    max-height: 100%;
  }